<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=tcp:moneyballdbserver.database.windows.net,1433;Initial Catalog=moneyball;Persist Security Info=False;User ID=team9;Password=tirat9123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>